@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Bienvenido a la plataforma de registro de enfermedades e inyecciones experimentales para la atencion de COVID.</h4>
    <p> <b> Esta plataforma contiene 5 pasos: </b></p>
    <p>Registro de efectos adversos Paso 1 - Datos del profesional medico</p>
    <p>Registro de efectos adversos Paso 2 - Informacion de la clinica</p>
    <p>Registro de efectos adversos Paso 3 - Informacion del paciente</p>
    <p>Registro de efectos adversos Paso 4 - Informacion de inyecciones</p>
    <p>Registro de efectos adversos fase 5 - Registrar efectos adversos</p>
</div>
